*{
    padding: 0;
    margin: 0;
}

/* shared styles */

.common-clr{
    color: #4E47FF;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.primary-btn{
    font-size: 16px;
    font-weight: 500;
    color: white;
    background-color: #4E47FF;
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    border: 2px solid #4E47FF;
    transition: 0.5s;
    cursor: pointer;
}


/* navbar section styles */

header{
    background-image: url('../Assets/Hero-bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

nav h1 {
    font-family: "Inter", sans-serif;
    font-size: 30px;
    font-weight: 700;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav {
    padding-top: 50px;
}

nav button:hover {
    background: white;
    color: black;
    border: 2px solid #4E47FF;
}


/* banner section styles */

section.banner h1 {
    text-align: center;
    color: #252432;
    font-family: "Raleway", sans-serif;
    font-size: 55px;
    padding-top: 170px;
    margin-bottom: 40px;
}

section.banner {
    text-align: center;
    padding-bottom: 120px;
}

section.banner button:hover {
    background: white;
    color: black;
    border: 2px solid #4E47FF;
}



/* action section styles */

section.action {
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
    gap: 200px;
    align-items: center;
    margin-bottom: 120px;
}

.action-content p {
    color: rgba(37, 36, 50, 0.49);
    font-family: "Inter", sans-serif;
    font-size: 20px;
    margin-bottom: 25px;
}

.action-content h1 {
    font-size: 40px;
    font-family: "Raleway", sans-serif;
    margin-bottom: 25px;
}

.action-img img {
    border-radius: 50px;
}

.action-content button:hover {
    background: white;
    color: black;
    border: 2px solid #4E47FF;
}


/* productive users section styles */

section.productive-user {
    text-align: center;
}

section.productive-user h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
}

.user-review h1 {
    font-family: 'Raleway', sans-serif;
}

.user-review {
    display: flex;
    justify-content: space-around;
}

.user-review div h1 {
    font-size: 75px;
    font-family: 'Inter';
    margin-top: 40px;
}

section.productive-user {
    margin-bottom: 120px;
}

section.productive-user {
    text-align: center;
}

section.productive-user >h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    padding-top: 50px;
}

.user-review h1 {
    font-family: 'Raleway', sans-serif;
}

.user-review {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 50px;
}

.user-review div h1 {
    font-size: 75px;
    font-family: 'Inter';
    margin-top: 40px;
}

section.productive-user {
    margin-bottom: 120px;
    background: rgb(78 71 255 / 14%);
    border-radius: 20px;
}

.user-review div span {
    color: rgba(37, 36, 50, 0.49);
    font-size: 20px;
    font-family: 'Raleway';
}


/* review section styles */

section.review > h1 {
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin-bottom: 40px;
}

.review-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.single-review {
    border: 2px solid rgb(240 213 213 / 33%);
    border-radius: 10px;
    padding: 20px;
}

.star-icons {
    margin-bottom: 15px;
}

.single-review > h1 {
    font-family: 'inter';
    color: #000000d9;
    font-weight: 600;
    margin-bottom: 10px;
}

.single-review > p {
    font-family: inter;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px;
}

.reviewer-person {
    display: flex;
    gap: 15px;
}

.reviewer-picture img {
    border-radius: 50%;
}

.reviewer-detail h3 {
    font-family: 'inter', sans-serif;
    color: #00000082;
    font-size: 16px;
    padding-bottom: 3px;
}

.reviewer-detail span {
    font-size: 12px;
    font-family: 'Inter';
    color: #00000075;
}


/* optional section styles */

section.optional {
    background: white;
    border-radius: 15px;
    text-align: center;
    margin-top: 120px;
}

section.optional h1 {
    font-size: 45px;
    font-family: 'Inter';
    padding-top: 60px;
}

section.optional p {
    margin-top: 20px;
    font-family: 'Inter';
    font-size: 14px;
    color: #00000087;
    margin-bottom: 20px;
}

section.optional button {
    margin-bottom: 25px;
}

section.optional img {
    border-radius: 45px;
    margin-bottom: 60px;
}

section.optional button:hover{
     background: white;
    color: black;
    border: 2px solid #4E47FF;
}


/* newsletter section */

section.newsletter {
    margin-top: 130px;
}

.newsletter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 70px;
}

.newsletter-content h1 {
    font-size: 80px;
    font-family: inter;
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

form input, textarea {
    padding: 20px 25px;
    border: none;
    margin-bottom: 25px;
    font-size: 18px;
    border-radius: 8px;
    border: 2px solid #d6dded9c;
    font-family: inter;
}

form h3 {
    font-family: inter;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 10px;
}

form button:hover{
    background: white;
    color: black;
    border: 2px solid #4E47FF;
}


/* footer section styles */

footer {
    text-align: center;
    padding-top: 100px;
}

footer h1 {
    font-size: 60px;
    font-family: 'Inter', sans-serif;
    margin-bottom: 20px;
}

footer p {
    width: 50%;
    margin: auto;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    color: #0000006b;
    line-height: 22px;
}

footer ul {
    display: flex;
}

footer ul li {
    list-style: none;
    margin-right: 40px;
}

footer ul li a {
    text-decoration: none;
    color: #0000006b;
    font-family: 'Inter', sans-serif;
}

footer {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

footer h1 {
    font-size: 60px;
    font-family: 'Inter', sans-serif;
    margin-bottom: 20px;
}

h1.common-clr {}

footer p {
    width: 50%;
    margin: auto;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    color: #0000006b;
    line-height: 22px;
}

footer ul {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

footer ul li {
    list-style: none;
    margin-right: 40px;
}

footer ul li a {
    text-decoration: none;
    color: #0000006b;
    font-family: 'Inter', sans-serif;
}