*{
    margin: 0;
    padding: 0;
    font-family: "Azeret Mono", monospace;
}

/* default css styles */

.container{
    width: 80%;
    margin: 0 auto;
}



/* nav related styles */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
}

nav h1 {
    font-size: 28px;
    font-weight: 800;
    color: rgb(13, 19, 33);
}

nav button {
    color: rgb(13, 19, 33);
    padding: 17px 24px;
    background: white;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    opacity: 0.8;
}
