*{
    margin: 0;
    padding: 0;
    font-family: "Azeret Mono", monospace;
}

/* default css styles */

.container{
    width: 80%;
    margin: 0 auto;
}



/* nav related styles */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
}

nav h1 {
    font-size: 28px;
    font-weight: 800;
    color: rgb(13, 19, 33);
}

nav button {
    color: rgb(13, 19, 33);
    padding: 17px 24px;
    background: white;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    opacity: 0.8;
}


/* banner related styles */

.banner{
    background-image: url('../assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 40px;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Azeret Mono", monospace;
}

/* default css styles */

.container{
    width: 80%;
    margin: 0 auto;
}



/* nav related styles */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
}

nav h1 {
    font-size: 28px;
    font-weight: 800;
    color: rgb(13, 19, 33);
}

nav button {
    color: rgb(13, 19, 33);
    padding: 17px 24px;
    background: white;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    opacity: 0.8;
}


/* banner related styles */

.banner{
    background-image: url('../assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 40px;
    margin-bottom: 80px;
}

.banner-content {
    width: 70%;
    margin: auto;
    text-align: center;
    padding: 40px 0px;
}

.banner-content h1 {
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    margin-top: 30px;
}

.banner-content p {
    margin-top: 30px;
    color: rgb(12 16 26);
    color: rgb(13, 19, 33);
    opacity: 0.8;
    margin-bottom: 20px;
}

.banner-content button {
    border: none;
    background: black;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 21px 24px;
    border-radius: 8px;
}


/* development related styles */

.development{
    background: rgba(13, 19, 33, 0.02);
    margin-bottom: 100px;
    border-radius: 16px;
}

.development-header {
    padding: 80px 100px 60px 100px;
    text-align: center;
}

.development-header h1 {
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 25px;
}

.development-header p {
    line-height: 26px;
    opacity: 0.8;
}

.development-content-top {
    padding: 40px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.development-content-one h1, .development-content-middle h1 {
    line-height: 36px;
    width: 420px;
    opacity: 0.6;
    margin-bottom: 20px;
}

.development-content-one p, .development-content-middle p {
    line-height: 26px;
    width: 400px;
    opacity: 0.7;
    margin-bottom: 25px;
}

.development-content-one button, .development-content-middle button {
    font-size: 20px;
    font-weight: 600;
    border: 1 px solid;
    border: 2px solid rgb(13, 19, 33);
    padding: 12px 20px;
    background: no-repeat;
    opacity: 0.7;
}

/* development middle related styles */

.development-content-middle {
    display: flex;
    gap: 70px;
    align-items: center;
    padding: 80px 100px;
}


/* inspiration related styles */

.inspiration-header h1 {
    text-align: center;
    font-size: 32px;
    font-weight: 800;
    padding-top: 80px;
}

.inspiration-header p {
    text-align: center;
    opacity: 0.6;
    margin-top: 30px;
    width: 850px;
    margin: 30px auto;
    line-height: 26px;
}

.inspiration-video iframe {
    border-radius: 16px;
}

.inspiration-video{
    margin-top: 50px;
}

.inspiration{
    margin-bottom: 70px;
}


/* my current target related styles */

.current-target-content h1, .next-target .next-target-header h1{
    text-align: center;
    font-size: 32px;
    font-weight: 800;
    padding-top: 80px;
}

.current-target-content p, .next-target .next-target-header p{
    text-align: center;
    opacity: 0.6;
    margin-top: 30px;
    width: 850px;
    margin: 30px auto;
    line-height: 26px;
}

.current-target-items {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.current-target-item h1 {
    margin-top: 20px;
    margin-bottom: 15px;
}

.current-target-item p {
    margin-bottom: 20px;
    opacity: 0.6;
    line-height: 26px;
}

.current-target-item {
    border-radius: 16px;
    padding: 30px;
}

.current-target-item a{
    color: black;
    font-weight: 700;
}


/* my next target section related styles */

.next-target-skill {
    display: flex;
    gap: 35px;
    align-items: center;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 30px;
    margin-bottom: 20px;
}

.next-target-skill-content h1 {
    margin-bottom: 20px;
}

.next-target-skill-content p {
    opacity: 0.6;
    line-height: 26px;
    margin-bottom: 20px;
}

.next-target-skill-content a {
    color: black;
    font-weight: 700;
}

.next-target-skills {
    margin-top: 50px;
    margin-bottom: 100px;
}